.navbar {
  background-color: rgba(0, 0, 0, 0.7);
}

.Banner {
  background-image: url(./assets/bannar.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo {
  height: 50px;
  width: auto;
}

footer h5 {
  color: rgb(6, 121, 121);
  margin-bottom: 20px;
  font-weight: 700;
}

.quick-links ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.quick-links ul a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.quick-links ul a:hover {
  color: rgb(6, 121, 121);
}

.get-in-touch ul {
  list-style-type: none;
  padding: 0;
}
